body {
  margin: 0px;
  overflow: hidden;
}

.heading {
  position: absolute;
  top: 40px;
  right: 20px;
  width: 335px;
  border: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 55px;
  background-color: #8fee88;
  cursor: pointer;
}

.title {
  font-family: "Franklin Gothic Medium";
  margin-top: 15px;
  letter-spacing: 1px;
  text-align: center;
  font-size: 20px;
  color: rgb(42, 43, 43);
  font-weight: 600;
}

.set_value {
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 335px;
  height: 85%;
  background-color: #262c38;
  position: absolute;
  right: 20px;
  top: 95px;
}

.set_value::-webkit-scrollbar {
  width: 8px;
}

.set_value::-webkit-scrollbar-track {
  background: #262c38;
}

.set_value::-webkit-scrollbar-thumb {
  background: #57576b;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.set_value::-webkit-scrollbar-thumb:hover {
  background: #28283a;
}

.drpt_btn {
  cursor: pointer;
  width: 12px;
  position: absolute;
  left: 250px;
  top: 25px;
}

.drpt_btn:hover {
  width: 15px;
}

.show {
  display: block !important;
}

.dropdown-content {
  display: none;
}

.apply_button_position {
  position: relative;
  top: 11%;
  margin-bottom: 20px;
}

.button {
  position: relative;
  background-color: rgb(64, 235, 218);
  color: rgb(16, 16, 16);
  border-radius: 10%;
  border: none;
  top: 25px;
  left: 70px;
  width: 200px;
  height: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(156, 231, 137);
}

.material_buttons {
  position: relative;
  top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.type {
  color: white;
  background-color: #57576b;
  height: 40px;
  margin-right: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.type:hover {
  background-color: rgb(109, 208, 208);
}

.material_button_1 {
  display: flex;
  position: relative;
  left: 30px;
}

.material_button_2 {
  display: flex;
  position: relative;
  left: 10px;
}

.material_button_3 {
  display: flex;
  position: relative;
  left: 20px;
}

.properties {
  position: relative;
  top: 65px;
  left: 30px;
}

.property_title {
  font-size: 28px;
  color: rgb(108, 110, 112);
}

#color {
  position: relative;
  left: 20px;
  width: 190px;
}

#emissive {
  position: relative;
  left: 15px;
  width: 155px;
}

#specular {
  position: relative;
  left: 20px;
  width: 155px;
}

#sheenColor {
  position: relative;
  left: 15px;
  width: 127px;
}

#specularColor {
  position: relative;
  left: 15px;
  width: 97px;
}

#wireframe {
  position: relative;
  width: 20px;
  height: 20px;
  left: 130px;
}

#flatShading {
  position: relative;
  width: 20px;
  height: 20px;
  left: 118px;
}

#fog {
  position: relative;
  width: 20px;
  height: 20px;
  left: 212px;
}

#vertexColors {
  position: relative;
  width: 20px;
  height: 20px;
  left: 105px;
}

#reflectivity {
  color: rgb(108, 110, 112);
  text-align: center;
  position: relative;
  left: 15px;
  width: 129px;
  height: 20px;
  border-radius: 5px;
  background-color: #2f3543;
  border: none;
}

#refractionRatio {
  color: rgb(108, 110, 112);
  text-align: center;
  position: relative;
  left: 15px;
  width: 85px;
  height: 20px;
  border-radius: 5px;
  background-color: #2f3543;
  border: none;
}

#roughness {
  color: rgb(108, 110, 112);
  text-align: center;
  position: relative;
  left: 28px;
  width: 129px;
  height: 20px;
  border-radius: 5px;
  background-color: #2f3543;
  border: none;
}

#metalness {
  color: rgb(108, 110, 112);
  text-align: center;
  position: relative;
  left: 30px;
  width: 129px;
  height: 20px;
  border-radius: 5px;
  background-color: #2f3543;
  border: none;
}

#ior {
  color: rgb(108, 110, 112);
  text-align: center;
  position: relative;
  left: 110px;
  width: 129px;
  height: 20px;
  border-radius: 5px;
  background-color: #2f3543;
  border: none;
}

#iridescence {
  color: rgb(108, 110, 112);
  text-align: center;
  position: relative;
  left: 15px;
  width: 129px;
  height: 20px;
  border-radius: 5px;
  background-color: #2f3543;
  border: none;
}

#iridescenceIOR {
  color: rgb(108, 110, 112);
  text-align: center;
  position: relative;
  left: 15px;
  width: 85px;
  height: 20px;
  border-radius: 5px;
  background-color: #2f3543;
  border: none;
}

#sheen {
  color: rgb(108, 110, 112);
  text-align: center;
  position: relative;
  left: 83px;
  width: 129px;
  height: 20px;
  border-radius: 5px;
  background-color: #2f3543;
  border: none;
}

#sheenRoughness {
  color: rgb(108, 110, 112);
  text-align: center;
  position: relative;
  left: 5px;
  width: 85px;
  height: 20px;
  border-radius: 5px;
  background-color: #2f3543;
  border: none;
}

#clearcoat {
  color: rgb(108, 110, 112);
  text-align: center;
  position: relative;
  left: 49px;
  width: 129px;
  height: 20px;
  border-radius: 5px;
  background-color: #2f3543;
  border: none;
}

#clearcoatRoughness {
  color: rgb(108, 110, 112);
  text-align: center;
  position: relative;
  left: 15px;
  width: 38px;
  height: 20px;
  border-radius: 5px;
  background-color: #2f3543;
  border: none;
}

#specularIntensity {
  color: rgb(108, 110, 112);
  text-align: center;
  position: relative;
  left: 15px;
  width: 75px;
  height: 20px;
  border-radius: 5px;
  background-color: #2f3543;
  border: none;
}

#map {
  position: relative;
  left: 15px;
  width: 220px;
  height: 25px;
  border-radius: 5px;
  background-color: #2f3543;
  border: none;
}

#alphaMap {
  position: relative;
  left: 15px;
  width: 163px;
  height: 25px;
  border-radius: 5px;
  background-color: #2f3543;
  border: none;
}

#matcap {
  position: relative;
  left: 43px;
  width: 163px;
  height: 25px;
  border-radius: 5px;
  background-color: #2f3543;
  border: none;
}

#roughnessMap {
  position: relative;
  left: 15px;
  width: 103px;
  height: 25px;
  border-radius: 5px;
  background-color: #2f3543;
  border: none;
}

#metalnessMap {
  position: relative;
  left: 18px;
  width: 103px;
  height: 28px;
  border-radius: 5px;
  background-color: #2f3543;
  border: none;
}

#iridescenceMap {
  position: relative;
  left: 5px;
  width: 100px;
  height: 28px;
  border-radius: 5px;
  background-color: #2f3543;
  border: none;
}

#combine {
  position: relative;
  color: white;
  left: 10px;
  background-color: #2f3543;
  height: 25px;
  border: none;
  border-radius: 5px;
  color: rgb(108, 110, 112);
}
